body{
    background-image:url('https://wallpapers.com/images/hd/beautiful-weather-with-gradient-sky-r6nxyjof50r7renl.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode:screen;
    color:whitesmoke;
}
